@page "/Filmmakers"
@inject FilmmakerAPI filmmakerAPI
<h3>Filmmakers</h3>
@if(filmmakers != null)
{
    <MudGrid>
    @foreach(var filmmaker in filmmakers)
    {
        <MudItem xs="3">
            <CardFilmmaker Filmmaker="filmmaker" />
        </MudItem>
    }
    </MudGrid>
}


@code {
    private ICollection<FilmmakerResponse>? filmmakers;

    protected override async Task OnInitializedAsync()
    {
        filmmakers = await filmmakerAPI.GetFilmmakersAsync();
    }
}